@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
/* Config */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] minmax(10px, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 130px) [col-end]
    )
    [center-end] minmax(10px, 1fr) [full-end];
  justify-content: center;
  align-content: center;
}

/* @-------Main-------@ */
.main-container {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: 6rem min-content 6rem;
}

/* @-------Main-notifications-------@ */
.main-notifications {
  height: 6rem;
  background-color: tomato;
}

/* @-------Main-content-------@ */
.main-content {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-auto-rows: 10px;
}

.imageWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  /* grid-row-end: 2 span; */
}

.imageTag {
  width: 340px;
  min-height: 200px;
  transition: all 1s;
  overflow: hidden;
}

.hiddenTitle,
.hiddenDescription {
  z-index: 5;
  position: absolute;
  font-weight: 200;
  opacity: 0;
}

.hiddenDescription {
  /* background-color: white; */
  bottom: 2rem;
  max-width: 335px;
  font-size: 1.4rem;
  transform: translateY(2rem);
  padding: 0.3rem;
  left: 2rem;
  color: white;
}
.hiddenTitle {
  top: 2rem;
  left: 2rem;
  transform: translateY(-1rem);
  font-size: 1.6rem;
  padding: 0.4rem;
  font-weight: 400;
  color: white;
}

.selectButton {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.selectButtonImage {
  width: 25px;
}

.place-holder {
  min-height: 30rem;
  width: 350px;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-holder-image {
  width: 5rem;
}

/* @-------Main-buttons-------@ */
.main-buttons {
  height: 6rem;
  background-color: tomato;
}
.button {
  width: 8rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
